---
openapi: 3.0.1
info:
  title: abler ATS API V2
  version: v2
  description: |
    API para integração com o sistema de recrutamento e seleção da abler.

    ## Autenticação

    Todas as requisições devem incluir o header `X-API-INT-TOKEN` com o token de integração da empresa.

    Caso seu plano tenha acesso a API da abler, você pode obter o token em: **Configurações > Dados da empresa > Integrações > Token de Acesso**.
    OBS: Apenas o plano "Elite" possui acesso a API da abler. Entre em contato com o time de suporte da abler para saber mais.

    ## Rate Limiting

    - 300 requisições por 5 minutos por IP
    - 5 requisições por segundo para endpoints de autenticação
  contact:
    name: Suporte da abler
    email: suporte@abler.com.br
servers:
  - url: https://hulk-smash.abler.com.br
    description: Production (ATS)
  - url: https://hulk-smash.getabler.com
    description: Staging (ATS)
  - url: http://lvh.localhost:3000
    description: Development (ATS)
  - url: https://api.abler.com.br
    description: Production (API Pública - Webhooks)
  - url: https://api.getabler.com
    description: Staging (API Pública - Webhooks)
  - url: http://api.lvh.localhost:3000
    description: Development (API Pública - Webhooks)
tags:
  - name: Candidatos
    description: Gerenciamento de candidatos no banco de talentos
  - name: Vagas
    description: Gerenciamento de vagas
  - name: Processos Seletivos
    description: Gerenciamento de processos seletivos e candidaturas
  - name: Páginas de Carreira
    description: Gerenciamento de páginas de carreira (career pages)
  - name: Empresa
    description: Dados da empresa
  - name: Clientes
    description: Clientes (para consultorias)
  - name: Comentários
    description: Gerenciamento de comentários
  - name: Templates
    description: Gerenciamento de templates
  - name: Emails
    description: Gerenciamento de emails
  - name: Feedbacks
    description: Gerenciamento de feedbacks
  - name: Admissões
    description: Gerenciamento de admissões
  - name: Webhooks
    description: Gerenciamento de webhooks para integração com sistemas externos.
  - name: Coleções
    description: Dados auxiliares (listas, enums, etc)
  # Tag "API Pública - Empresas" removida em 2026-02-21 — Endpoints desabilitados (IDOR).

paths:
  # ==================== CANDIDATOS ====================
  /api/company/v1/candidates:
    # NOTE: GET endpoint commented out - should not appear in public documentation
    # get:
    #   summary: Lista candidatos
    #   tags:
    #     - Candidatos
    #   description: |
    #     Retorna a lista de candidatos do banco de talentos da empresa.
    #
    #     Use o parâmetro "include" para carregar relacionamentos.
    #
    #     **Filtros disponíveis**: nome, email, CPF, cidades, estados, áreas de interesse, gênero, PCD, etc.
    #   operationId: listCandidates
    #   security:
    #     - api_key: []
    #   parameters:
    #     - $ref: '#/components/parameters/Page'
    #     - $ref: '#/components/parameters/PerPage'
    #     - $ref: '#/components/parameters/Include'
    #     - name: q
    #       in: query
    #       required: false
    #       description: Termo de busca (nome, email, CPF)
    #       schema:
    #         type: string
    #     - name: name
    #       in: query
    #       required: false
    #       description: Filtrar por nome
    #       schema:
    #         type: string
    #     - name: email
    #       in: query
    #       required: false
    #       description: Filtrar por email
    #       schema:
    #         type: string
    #     - name: cpf
    #       in: query
    #       required: false
    #       description: Filtrar por CPF
    #       schema:
    #         type: string
    #     - name: active
    #       in: query
    #       required: false
    #       description: Filtrar por status ativo
    #       schema:
    #         type: boolean
    #     - name: completed
    #       in: query
    #       required: false
    #       description: Filtrar por perfil completo
    #       schema:
    #         type: boolean
    #     - name: pcd
    #       in: query
    #       required: false
    #       description: Filtrar por PCD (pessoa com deficiência)
    #       schema:
    #         type: boolean
    #     - name: favorites
    #       in: query
    #       required: false
    #       description: Filtrar apenas favoritos
    #       schema:
    #         type: boolean
    #     - name: blocklists
    #       in: query
    #       required: false
    #       description: Filtrar apenas bloqueados
    #       schema:
    #         type: boolean
    #     - name: min_salary
    #       in: query
    #       required: false
    #       description: Pretensão salarial mínima
    #       schema:
    #         type: number
    #     - name: max_salary
    #       in: query
    #       required: false
    #       description: Pretensão salarial máxima
    #       schema:
    #         type: number
    #     - name: min_age
    #       in: query
    #       required: false
    #       description: Idade mínima
    #       schema:
    #         type: integer
    #     - name: max_age
    #       in: query
    #       required: false
    #       description: Idade máxima
    #       schema:
    #         type: integer
    #     - name: city_ids[]
    #       in: query
    #       required: false
    #       description: IDs das cidades
    #       schema:
    #         type: array
    #         items:
    #           type: integer
    #     - name: state_ids[]
    #       in: query
    #       required: false
    #       description: IDs dos estados
    #       schema:
    #         type: array
    #         items:
    #           type: integer
    #     - name: area_of_interest_ids[]
    #       in: query
    #       required: false
    #       description: IDs das áreas de interesse
    #       schema:
    #         type: array
    #         items:
    #           type: integer
    #     - name: genders[]
    #       in: query
    #       required: false
    #       description: Gêneros (masculino, feminino, outros)
    #       schema:
    #         type: array
    #         items:
    #           type: string
    #     - name: disability_ids[]
    #       in: query
    #       required: false
    #       description: IDs das deficiências
    #       schema:
    #         type: array
    #         items:
    #           type: integer
    #     - name: language_ids[]
    #       in: query
    #       required: false
    #       description: IDs dos idiomas
    #       schema:
    #         type: array
    #         items:
    #           type: integer
    #     - name: educational_profile_levels[]
    #       in: query
    #       required: false
    #       description: Níveis de escolaridade
    #       schema:
    #         type: array
    #         items:
    #           type: string
    #     - name: sources[]
    #       in: query
    #       required: false
    #       description: Fontes de origem do candidato
    #       schema:
    #         type: array
    #         items:
    #           type: string
    #     - name: profile_updated_at_from
    #       in: query
    #       required: false
    #       description: Data de atualização de perfil (início)
    #       schema:
    #         type: string
    #         format: date
    #     - name: profile_updated_at_to
    #       in: query
    #       required: false
    #       description: Data de atualização de perfil (fim)
    #       schema:
    #         type: string
    #         format: date
    #   responses:
    #     '200':
    #       description: Lista de candidatos retornada com sucesso
    #       content:
    #         application/json:
    #           schema:
    #             type: object
    #             properties:
    #               data:
    #                 type: array
    #                 items:
    #                   $ref: '#/components/schemas/candidate'
    #               meta:
    #                 $ref: '#/components/schemas/pagination'
    #     '401':
    #       $ref: '#/components/responses/Unauthorized'
    #     '403':
    #       $ref: '#/components/responses/Forbidden'
    post:
      summary: Cria um novo candidato
      tags:
        - Candidatos
      description: Cria um novo candidato no banco de talentos da empresa
      operationId: createCandidate
      security:
        - api_key: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/candidateInput"
      responses:
        "201":
          description: Candidato criado com sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/candidate"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
  /api/company/v1/candidates/{id}:
    get:
      summary: Retorna um candidato
      tags:
        - Candidatos
      description: |
        Retorna os detalhes de um candidato específico.

        Use o parâmetro "include" para carregar relacionamentos (separados por vírgula).
      operationId: getCandidate
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/ResourceId"
        - $ref: "#/components/parameters/Include"
      responses:
        "200":
          description: Candidato encontrado
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/candidate"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      summary: Atualiza um candidato
      tags:
        - Candidatos
      description: |
        Atualiza os dados de um candidato.

        **Campos permitidos**: email, linkedin_url, cv_attachment
      operationId: updateCandidate
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/candidateUpdateInput"
      responses:
        "200":
          description: Candidato atualizado com sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/candidate"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
  /api/company/v1/candidates/{id}/vacancies:
    get:
      summary: Lista vagas do candidato
      tags:
        - Candidatos
      description: Retorna as vagas em que o candidato está participando
      operationId: listCandidateVacancies
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      responses:
        "200":
          description: Lista de vagas do candidato
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/vacancy"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/company/v1/candidates/{id}/cv_pdf:
    get:
      summary: Gera PDF do currículo
      tags:
        - Candidatos
      description: Gera e retorna o PDF do currículo do candidato
      operationId: getCandidateCvPdf
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/ResourceId"
        - name: candidates_pipeline_feedback_id
          in: query
          required: false
          description: ID do feedback da candidatura para incluir no PDF
          schema:
            type: integer
        - name: hidden_fields[]
          in: query
          required: false
          description: Campos a ocultar no PDF
          schema:
            type: array
            items:
              type: string
      responses:
        "200":
          description: PDF do currículo
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        "404":
          $ref: "#/components/responses/NotFound"
  /api/company/v1/candidates/{id}/request_cv_update:
    post:
      summary: Solicita atualização de currículo
      tags:
        - Candidatos
      description: Envia email solicitando que o candidato atualize seu currículo
      operationId: requestCandidateCvUpdate
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      responses:
        "200":
          description: Solicitação enviada com sucesso
        "404":
          $ref: "#/components/responses/NotFound"
  /api/company/v1/candidates/{id}/basic_info:
    get:
      summary: Informações básicas do candidato
      tags:
        - Candidatos
      description: Retorna informações básicas do perfil do candidato
      operationId: getCandidateBasicInfo
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      responses:
        "200":
          description: Informações básicas
  /api/company/v1/candidates/{id}/timeline:
    get:
      summary: Timeline do candidato
      tags:
        - Candidatos
      description: Retorna o histórico de interações do candidato
      operationId: getCandidateTimeline
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/ResourceId"
        - name: pipeline_id
          in: query
          required: false
          description: ID do pipeline para filtrar timeline
          schema:
            type: integer
      responses:
        "200":
          description: Timeline do candidato
  /api/company/v1/candidates/verify_existence:
    get:
      summary: Verifica se candidato existe
      tags:
        - Candidatos
      description: Verifica se já existe um candidato com o email ou identificador do LinkedIn informado
      operationId: verifyCandidateExistence
      security:
        - api_key: []
      parameters:
        - name: email
          in: query
          required: false
          description: Email a verificar
          schema:
            type: string
            format: email
        - name: linkedin_identifier
          in: query
          required: false
          description: "Identificador público do LinkedIn (ex.: vitor-ac)"
          schema:
            type: string
      responses:
        "200":
          description: Resultado da verificação
          content:
            application/json:
              schema:
                type: object
                properties:
                  candidate_exists:
                    type: boolean
  /api/company/v1/candidates/{id}/favorite:
    patch:
      summary: Favorita/desfavorita candidato
      tags:
        - Candidatos
      description: |
        Marca ou desmarca um candidato como favorito.

        Candidatos favoritos aparecem destacados nas listagens.
      operationId: toggleFavoriteCandidate
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                candidate_markers:
                  type: object
                  properties:
                    description:
                      type: string
                      description: Motivo/descrição do favorito
      responses:
        "200":
          description: Status de favorito alterado
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/candidate"
  /api/company/v1/candidates/{id}/blocklist:
    patch:
      summary: Bloqueia/desbloqueia candidato
      tags:
        - Candidatos
      description: |
        Adiciona ou remove candidato da lista de bloqueio.

        Candidatos bloqueados não aparecem nas buscas e não podem se candidatar às vagas.
      operationId: toggleBlocklistCandidate
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                candidate_markers:
                  type: object
                  properties:
                    description:
                      type: string
                      description: Motivo do bloqueio
      responses:
        "200":
          description: Status de bloqueio alterado
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/candidate"
  /api/company/v1/candidates/invite:
    post:
      summary: Convida candidatos para vaga
      tags:
        - Candidatos
      description: |
        Envia convite para candidatos participarem de um processo seletivo.

        O candidato receberá um email de convite e será adicionado à etapa inicial do processo.
      operationId: inviteCandidates
      security:
        - api_key: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - candidate
              properties:
                candidate:
                  type: object
                  required:
                    - candidate_ids
                    - pipeline_id
                  properties:
                    candidate_ids:
                      type: array
                      items:
                        type: integer
                      description: IDs dos candidatos a convidar
                    pipeline_id:
                      type: integer
                      description: ID do pipeline (processo seletivo da vaga)
                    send_screening_questions:
                      type: boolean
                      description: Enviar perguntas de triagem junto com o convite
      responses:
        "200":
          description: Convites enviados com sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                          example: candidates_pipeline
  /api/company/v1/candidates/request_cv_update:
    post:
      summary: Solicita atualização de CV em lote
      tags:
        - Candidatos
      description: |
        Envia solicitação de atualização de currículo para múltiplos candidatos.

        Os candidatos receberão um email solicitando que atualizem seus dados.
      operationId: bulkRequestCvUpdate
      security:
        - api_key: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - candidate_ids
              properties:
                candidate_ids:
                  type: array
                  items:
                    type: integer
                  description: IDs dos candidatos
      responses:
        "200":
          description: Solicitações enviadas
  /api/company/v1/candidates/create_in_batch:
    post:
      summary: Cria candidatos em lote
      tags:
        - Candidatos
      description: |
        Importa múltiplos candidatos de uma vez através de arquivo ou dados estruturados.

        **Processamento assíncrono** - A resposta indica que o processamento foi iniciado.
      operationId: createCandidatesInBatch
      security:
        - api_key: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: Arquivo de importação (XLSX, CSV)
                pipeline_id:
                  type: integer
                  description: ID do pipeline para vincular os candidatos importados (opcional)
      responses:
        "200":
          description: Importação iniciada
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Mensagem de confirmação
  /api/company/v1/candidates/{id}/tags:
    get:
      summary: Tags do candidato
      tags:
        - Candidatos
      description: |
        Retorna as tags (etiquetas) associadas ao candidato no contexto de um processo seletivo.
      operationId: getCandidateTags
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/ResourceId"
        - name: pipeline_id
          in: query
          required: false
          description: ID do pipeline para filtrar tags
          schema:
            type: integer
      responses:
        "200":
          description: Tags do candidato
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        color:
                          type: string
  /api/company/v1/candidates/{id}/bio:
    get:
      summary: Biografia do candidato
      tags:
        - Candidatos
      description: Retorna a carta de apresentação/biografia do candidato.
      operationId: getCandidateBio
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      responses:
        "200":
          description: Biografia
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      cover_letter:
                        type: string
                        nullable: true
                        description: Carta de apresentação
  /api/company/v1/candidates/{id}/professional_summary:
    get:
      summary: Resumo profissional
      tags:
        - Candidatos
      description: Retorna o resumo profissional do candidato (áreas de interesse, cargos, habilidades).
      operationId: getCandidateProfessionalSummary
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      responses:
        "200":
          description: Resumo profissional
          content:
            application/json:
              schema:
                type: object
                properties:
                  area_of_interests:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                  level_of_interests:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                  salary_intended:
                    type: number
                    nullable: true
                  salary_intended_max:
                    type: number
                    nullable: true
                  work_type:
                    type: array
                    items:
                      type: string
  /api/company/v1/candidates/{id}/knowledge:
    get:
      summary: Conhecimentos do candidato
      tags:
        - Candidatos
      description: Retorna os conhecimentos (formação, idiomas, cursos) do candidato.
      operationId: getCandidateKnowledge
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      responses:
        "200":
          description: Conhecimentos
          content:
            application/json:
              schema:
                type: object
                properties:
                  educational_profiles:
                    type: array
                    description: Formações acadêmicas
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        course:
                          type: string
                        institution:
                          type: string
                        level:
                          type: string
                        status:
                          type: string
                        start_year:
                          type: integer
                        end_year:
                          type: integer
                          nullable: true
                  candidates_languages:
                    type: array
                    description: Idiomas
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        language_name:
                          type: string
                        level:
                          type: string
                  complementary_trainings:
                    type: array
                    description: Cursos complementares
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        course:
                          type: string
                        institution:
                          type: string
  /api/company/v1/candidates/{id}/experiences:
    get:
      summary: Experiências profissionais
      tags:
        - Candidatos
      description: Retorna as experiências profissionais do candidato.
      operationId: getCandidateExperiences
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      responses:
        "200":
          description: Experiências
          content:
            application/json:
              schema:
                type: object
                properties:
                  national_experiences:
                    type: array
                    description: Experiências nacionais
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        company:
                          type: string
                        role_name:
                          type: string
                        start_date:
                          type: string
                          format: date
                        end_date:
                          type: string
                          format: date
                          nullable: true
                        current:
                          type: boolean
                        activities:
                          type: string
                        last_salary:
                          type: number
                          nullable: true
  /api/company/v1/candidates/{id}/diversity:
    get:
      summary: Dados de diversidade
      tags:
        - Candidatos
      description: |
        Retorna informações de diversidade e inclusão do candidato.

        **Dados sensíveis** - Uso restrito conforme LGPD.
      operationId: getCandidateDiversity
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      responses:
        "200":
          description: Dados de diversidade
          content:
            application/json:
              schema:
                type: object
                properties:
                  gender:
                    type: string
                    nullable: true
                  gender_identity:
                    type: string
                    nullable: true
                  sexual_orientation:
                    type: string
                    nullable: true
                  ethnicity:
                    type: string
                    nullable: true
                  disability:
                    type: object
                    nullable: true
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                  disability_info:
                    type: string
                    nullable: true
  /api/company/v1/candidates/{id}/candidature:
    get:
      summary: Candidatura do candidato
      tags:
        - Candidatos
      description: |
        Retorna dados da candidatura de um candidato em um processo seletivo específico.
      operationId: getCandidateCandidature
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/ResourceId"
        - name: pipeline_id
          in: query
          required: true
          description: ID do pipeline
          schema:
            type: integer
      responses:
        "200":
          description: Dados da candidatura
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/candidatesPipeline"
  /api/company/v1/candidates/{id}/cultural_fit:
    get:
      summary: Fit cultural
      tags:
        - Candidatos
      description: Retorna informações sobre o fit cultural do candidato.
      operationId: getCandidateCulturalFit
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      responses:
        "200":
          description: Fit cultural
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      cultural_fit:
                        type: object
                        nullable: true
                        description: Dados do fit cultural

  /api/company/v1/candidates/{id}/cv_url:
    get:
      summary: URL do currículo
      tags:
        - Candidatos
      description: Retorna a URL do arquivo de currículo anexado pelo candidato.
      operationId: getCandidateCvUrl
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      responses:
        "200":
          description: URL do currículo
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      cv_attachment_url:
                        type: string
                        nullable: true
                        description: URL do arquivo de currículo
  /api/company/v1/candidates/{id}/tabs_to_show:
    get:
      summary: Tabs disponíveis do perfil
      tags:
        - Candidatos
      description: |
        Retorna quais abas/seções do perfil do candidato devem ser exibidas.

        Útil para interfaces que precisam saber quais informações o candidato preencheu.
      operationId: getCandidateTabsToShow
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/ResourceId"
        - name: pipeline_id
          in: query
          required: false
          description: ID do pipeline
          schema:
            type: integer
      responses:
        "200":
          description: Tabs disponíveis
          content:
            application/json:
              schema:
                type: object
                properties:
                  tabs:
                    type: array
                    items:
                      type: string
                    description: Lista de tabs a exibir
                    example:
                      - basic_info
                      - professional_summary
                      - knowledge
                      - experiences
                      - diversity
  /api/company/v1/candidates/{id}/already_seen:
    get:
      summary: Verifica se candidato foi visualizado
      tags:
        - Candidatos
      description: |
        Verifica se o candidato já foi visualizado pela empresa.

        Útil para marcar candidatos como "novo" ou "já visto".
      operationId: checkCandidateAlreadySeen
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/ResourceId"
        - name: company_id
          in: query
          required: false
          description: ID da empresa (opcional, usa empresa autenticada se não informado)
          schema:
            type: integer
      responses:
        "200":
          description: Status de visualização
          content:
            application/json:
              schema:
                type: object
                properties:
                  already_seen:
                    type: boolean
                    description: Se o candidato já foi visualizado

  # ==================== VAGAS ====================
  /api/company/v1/vacancies:
    get:
      summary: Lista vagas
      tags:
        - Vagas
      description: |
        Retorna a lista de vagas da empresa.

        Use o parâmetro "include" para carregar relacionamentos.

        **Filtros disponíveis**: status, datas, clientes, responsáveis, áreas de interesse, etc.
      operationId: listVacancies
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PerPage"
        - $ref: "#/components/parameters/VacancyInclude"
        - name: q
          in: query
          required: false
          description: Termo de busca (título, código interno)
          schema:
            type: string
        - name: statuses[]
          in: query
          required: false
          description: Filtrar por status da vaga
          schema:
            type: array
            items:
              type: string
              enum:
                - draft
                - published
                - closed
                - cancelled
                - waiting_approval
                - ready_for_publish
        - name: vacancy_type
          in: query
          required: false
          description: Tipo de vaga
          schema:
            type: string
            enum:
              - default
              - template
        - name: exclusive_pcd
          in: query
          required: false
          description: Filtrar vagas exclusivas para PCD
          schema:
            type: boolean
        - name: created_at_from
          in: query
          required: false
          description: Data de criação (início)
          schema:
            type: string
            format: date
        - name: created_at_to
          in: query
          required: false
          description: Data de criação (fim)
          schema:
            type: string
            format: date
        - name: close_on_from
          in: query
          required: false
          description: Data de fechamento previsto (início)
          schema:
            type: string
            format: date
        - name: close_on_to
          in: query
          required: false
          description: Data de fechamento previsto (fim)
          schema:
            type: string
            format: date
        - name: customer_ids[]
          in: query
          required: false
          description: IDs dos clientes (para consultorias)
          schema:
            type: array
            items:
              type: integer
        - name: team_ids[]
          in: query
          required: false
          description: IDs dos times
          schema:
            type: array
            items:
              type: integer
        - name: responsible_ids[]
          in: query
          required: false
          description: IDs dos responsáveis
          schema:
            type: array
            items:
              type: integer
        - name: analyst_ids[]
          in: query
          required: false
          description: IDs dos analistas
          schema:
            type: array
            items:
              type: integer
        - name: area_of_interest_ids[]
          in: query
          required: false
          description: IDs das áreas de interesse
          schema:
            type: array
            items:
              type: integer
        - name: level_of_interest_ids[]
          in: query
          required: false
          description: IDs dos níveis/cargos
          schema:
            type: array
            items:
              type: integer
        - name: city_ids[]
          in: query
          required: false
          description: IDs das cidades
          schema:
            type: array
            items:
              type: integer
        - name: contracting_regimes[]
          in: query
          required: false
          description: Regimes de contratação
          schema:
            type: array
            items:
              type: string
      responses:
        "200":
          description: Lista de vagas retornada com sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/vacancy"
                  included:
                    type: array
                    description: Recursos relacionados incluídos conforme parâmetro include
                    items:
                      type: object
                  meta:
                    $ref: "#/components/schemas/pagination"
        "401":
          $ref: "#/components/responses/Unauthorized"
    post:
      summary: Cria uma nova vaga
      tags:
        - Vagas
      description: |
        Cria uma nova vaga no sistema.

        A criação de vaga usa um sistema de formulários por contexto. 
        O campo `form` define qual contexto está sendo enviado.

        **Contextos disponíveis (form)**:
        - `process_data` - Dados básicos do processo (título, regime, tipo)
        - `role_description` - Descrição do cargo
        - `assignments` - Atribuições (senioridade, cargo, salário)
        - `journey_remuneration` - Jornada e remuneração
        - `mobility_location` - Localização e mobilidade
        - `acquirements` - Requisitos (escolaridade, idiomas)
        - `disclosure` - Divulgação
        - `process_responsibles` - Responsáveis
        - `customer_data` - Dados do cliente (consultorias)
        - `diversity_and_inclusion` - Diversidade e inclusão

        **Recomendação**: Envie primeiro `process_data` para criar a vaga, depois atualize com os demais contextos usando PATCH.

        **Exemplo - Criar vaga básica**:
        ```json
        {
          "vacancy": {
            "form": "process_data",
            "title": "Desenvolvedor Python",
            "quantity": 1,
            "contracting_regime": "CLT",
            "requisition_type": "expansao"
          }
        }
        ```

        **Exemplo - Atualizar descrição (via PATCH)**:
        ```json
        {
          "vacancy": {
            "form": "role_description",
            "description": "<p>Sobre a vaga...</p>",
            "mandatory_requirements": "<p>Requisitos obrigatórios...</p>",
            "desirable_requirements": "<p>Requisitos desejáveis...</p>"
          }
        }
        ```

        **Exemplo - Definir localização (via PATCH)**:
        ```json
        {
          "vacancy": {
            "form": "mobility_location",
            "country": "Brasil",
            "state": "São Paulo",
            "city": "São Paulo",
            "work_type": ["hibrida"]
          }
        }
        ```
      operationId: createVacancy
      security:
        - api_key: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/vacancyInput"
            examples:
              process_data:
                summary: Criar vaga básica
                value:
                  vacancy:
                    form: process_data
                    title: Desenvolvedor Python
                    quantity: 1
                    contracting_regime: CLT
                    requisition_type: expansao
              role_description:
                summary: Definir descrição
                value:
                  vacancy:
                    form: role_description
                    description: "<h3>Sobre a vaga</h3><p>Descrição detalhada...</p>"
                    mandatory_requirements: "<ul><li>Requisito 1</li><li>Requisito 2</li></ul>"
                    desirable_requirements: "<ul><li>Desejável 1</li></ul>"
              mobility_location:
                summary: Definir localização
                value:
                  vacancy:
                    form: mobility_location
                    country: Brasil
                    state: São Paulo
                    city: São Paulo
                    work_type:
                      - hibrida
      responses:
        "201":
          description: Vaga criada com sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/vacancy"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
  /api/company/v1/vacancies/{id}:
    get:
      summary: Retorna uma vaga
      tags:
        - Vagas
      description: |
        Retorna os detalhes de uma vaga específica.

        Use o parâmetro "include" para carregar relacionamentos (separados por vírgula).
      operationId: getVacancy
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/ResourceId"
        - $ref: "#/components/parameters/VacancyInclude"
      responses:
        "200":
          description: Vaga encontrada
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/vacancy"
                  included:
                    type: array
                    description: Recursos relacionados incluídos conforme parâmetro include
                    items:
                      type: object
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      summary: Atualiza uma vaga
      tags:
        - Vagas
      description: Atualiza os dados de uma vaga
      operationId: updateVacancy
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/vacancyInput"
            examples:
              customer_data:
                summary: Atualizar dados do cliente
                value:
                  vacancy:
                    form: customer_data
                    customer_id: 123
                    customer_contact_id: 456
                    customer_cost_center_id: 789
                    seller_id: 999
                    type_of_charge: success_fee
                    fee: 15.5
                    tax: 1.5
                    billing_info: "Faturar no fechamento"
                    vacancy_type: normal
              process_data:
                summary: Atualizar dados do processo
                value:
                  vacancy:
                    form: process_data
                    title: Desenvolvedor Backend Ruby
                    nomenclature_cbo: Desenvolvedor de sistemas
                    cbo: "317110"
                    internal_code: VAGA-2026-001
                    quantity: 2
                    contracting_regime: CLT
                    requisition_type: expansao
                    vacancy_type: normal
              journey_remuneration:
                summary: Atualizar jornada e remuneracao
                value:
                  vacancy:
                    form: journey_remuneration
                    salary: 8500.0
                    working_journey: "40h semanais"
                    salary_periodicity: monthly
                    vacancies_benefits_attributes:
                      - benefit_id: 1
                        value: 800.0
                        periodicity: monthly
                        extensible: false
                        value_type: money
              mobility_location:
                summary: Atualizar mobilidade e localizacao
                value:
                  vacancy:
                    form: mobility_location
                    country: Brasil
                    state: Sao Paulo
                    city: Sao Paulo
                    neighborhood: Pinheiros
                    cnh: B
                    available_for_travel: true
                    available_for_change: false
                    location_filter: regional
                    location_to_match_type: city
                    city_ids:
                      - 3550308
                    state_ids:
                      - 35
                    location_state_name:
                      - Sao Paulo
                    location_city_name:
                      - Sao Paulo
                    work_type:
                      - hibrida
                    cnh_array:
                      - B
              additional_info:
                summary: Atualizar informacoes adicionais
                value:
                  vacancy:
                    form: additional_info
                    additional_info: "<p>Disponibilidade para inicio em ate 30 dias.</p>"
              process_responsibles:
                summary: Atualizar responsaveis do processo
                value:
                  vacancy:
                    form: process_responsibles
                    responsible_id: 101
                    team_id: 20
                    analyst_ids:
                      - 101
                      - 102
                    manager_ids:
                      - 201
              approval_type:
                summary: Atualizar tipo de aprovacao
                value:
                  vacancy:
                    form: approval_type
                    approval_type: sequential
                    approver_ids:
                      - 301
                      - 302
              role_description:
                summary: Atualizar descricao da vaga
                value:
                  vacancy:
                    form: role_description
                    description: "<p>Atuacao em squad de produtos financeiros.</p>"
                    role_description: "<p>Desenvolver APIs e integrações.</p>"
                    mandatory_requirements: "<ul><li>Ruby on Rails</li><li>SQL</li></ul>"
                    desirable_requirements: "<ul><li>AWS</li></ul>"
                    results_and_deliveries: "<p>Entregar features com qualidade e previsibilidade.</p>"
                    company_description: "<p>Empresa de tecnologia em crescimento acelerado.</p>"
              assignments:
                summary: Atualizar atribuicoes da vaga
                value:
                  vacancy:
                    form: assignments
                    seniority_level: pleno
                    seniority_scale: specialist
                    level_of_interest_id: 7
                    initial_salary_range: 7000.0
                    final_salary_range: 9500.0
                    area_of_interest_ids:
                      - 12
                      - 18
              process_stages:
                summary: Atualizar etapas do processo
                value:
                  vacancy:
                    form: process_stages
                    start_process_days: 2
                    deadline_days: 30
                    start_on: "2026-03-20"
                    close_on: "2026-04-20"
                    forward_at: "2026-03-25T10:00:00-03:00"
                    pipeline_attributes:
                      id: 55
                      pipelines_stages_attributes:
                        - id: 901
                          name: Triagem
                          deadline_days: 3
                          number: 1
                          responsible_id: 101
                        - id: 902
                          name: Entrevista tecnica
                          deadline_days: 5
                          number: 2
                          responsible_id: 102
              experiences:
                summary: Atualizar experiencias requeridas
                value:
                  vacancy:
                    form: experiences
                    required_experience: true
                    experience_time_min: 2
                    experience_time_max: 5
                    experience_tag_attributes:
                      - tags:
                          - ruby
                          - rails
              locations:
                summary: Atualizar localizacoes da vaga
                value:
                  vacancy:
                    form: locations
                    available_for_travel: true
                    available_for_change: false
                    location_filter: exact
                    work_type:
                      - presencial
                    state_ids:
                      - 35
                    city_ids:
                      - 3550308
                    address_attributes:
                      - cep: "05422000"
                        street: Avenida Brigadeiro Faria Lima
                        number: "3477"
                        neighborhood: Itaim Bibi
                        state_id: 35
                        city_id: 3550308
                        country: Brasil
              candidates_communication:
                summary: Atualizar comunicacao com candidatos
                value:
                  vacancy:
                    form: candidates_communication
                    notify_invitation: true
                    notify_feedback: true
                    show_progress_to_candidates: true
              disclosure:
                summary: Atualizar configuracoes de divulgacao
                value:
                  vacancy:
                    form: disclosure
                    cover_image: "https://example.com/capa-vaga.png"
                    promote_company: true
                    share_job_feeds: true
                    salary_to_match: true
                    contracting_regime_to_match: true
                    location_to_match: true
                    highlight: false
                    show_stages_to_candidates: true
                    vacancy_type: normal
                    available_by_link: true
                    company_page_ids:
                      - 1
                      - 2
              acquirements:
                summary: Atualizar requisitos da vaga
                value:
                  vacancy:
                    form: acquirements
                    educational_level: superior
                    educational_level_status: complete
                    tech_skills:
                      - Ruby
                      - SQL
                    soft_skills:
                      - Comunicacao
                      - Colaboracao
                    courses:
                      - Engenharia de Software
                    complementary_courses:
                      - Arquitetura de APIs
                    vacancies_languages_attributes:
                      - language_id: 1
                        required: true
                        minimum_level: intermediate
              diversity_and_inclusion:
                summary: Atualizar diversidade e inclusao
                value:
                  vacancy:
                    form: diversity_and_inclusion
                    affirmative_process: true
                    diversity_type: pcd
                    inss_rehabilitated: false
                    disability_id: 3
                    disability_ids:
                      - 3
                      - 5
              setup_ju:
                summary: Atualizar configuracoes JU
                value:
                  vacancy:
                    form: setup_ju
                    matching_boost: ""
                    matching_penalty: ""
                    active_auto_hunting: true
                    active_ju_search: true
                    vacancy_type: normal
      responses:
        "200":
          description: Vaga atualizada com sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/vacancy"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
    delete:
      summary: Remove uma vaga
      tags:
        - Vagas
      description: Remove uma vaga (apenas rascunhos)
      operationId: deleteVacancy
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      responses:
        "200":
          description: Vaga removida
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
  /api/company/v1/vacancies/{id}/publish:
    patch:
      summary: Publica uma vaga
      tags:
        - Vagas
      description: |
        Publica uma vaga para receber candidaturas.

        **Pré-requisitos**: A vaga deve estar com status `draft` ou `ready_for_publish`.
      operationId: publishVacancy
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                release:
                  type: boolean
                  description: Se deve liberar a vaga para divulgação
                  default: true
      responses:
        "200":
          description: Vaga publicada
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/vacancy"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
  /api/company/v1/vacancies/{id}/stop:
    patch:
      summary: Pausa uma vaga
      tags:
        - Vagas
      description: |
        Pausa o recebimento de candidaturas.

        A vaga permanecerá visível mas não aceitará novas candidaturas.
      operationId: stopVacancy
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - vacancy
              properties:
                vacancy:
                  type: object
                  properties:
                    reason:
                      type: string
                      description: Motivo da pausa
                    action:
                      type: string
                      description: Ação a executar
                    status:
                      type: string
                      description: Status desejado
      responses:
        "200":
          description: Vaga pausada
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/vacancy"
  /api/company/v1/vacancies/{id}/restart:
    patch:
      summary: Reinicia uma vaga pausada
      tags:
        - Vagas
      description: Reinicia uma vaga que estava pausada, voltando a aceitar candidaturas.
      operationId: restartVacancy
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      responses:
        "200":
          description: Vaga reiniciada
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/vacancy"
  /api/company/v1/vacancies/{id}/finish:
    patch:
      summary: Finaliza uma vaga
      tags:
        - Vagas
      description: |
        Finaliza a vaga (encerramento do processo).

        Opcionalmente pode enviar feedback para candidatos não selecionados.
      operationId: finishVacancy
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                send_feedback:
                  type: boolean
                  description: Enviar feedback para candidatos não selecionados
                  default: false
                subject:
                  type: string
                  description: Assunto do email de feedback
                body:
                  type: string
                  description: Corpo do email de feedback
      responses:
        "200":
          description: Vaga finalizada
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/vacancy"
  /api/company/v1/vacancies/{id}/cancel:
    patch:
      summary: Cancela uma vaga
      tags:
        - Vagas
      description: |
        Cancela a vaga.

        Vagas canceladas não podem mais receber candidaturas e saem da divulgação.
      operationId: cancelVacancy
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - vacancy
              properties:
                vacancy:
                  type: object
                  required:
                    - reason
                  properties:
                    reason:
                      type: string
                      description: Motivo do cancelamento
                    action:
                      type: string
                      description: Ação a executar
                    status:
                      type: string
                      description: Status desejado
      responses:
        "200":
          description: Vaga cancelada
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/vacancy"
  /api/company/v1/vacancies/{id}/reopen:
    patch:
      summary: Reabre uma vaga finalizada
      tags:
        - Vagas
      description: Reabre uma vaga que foi finalizada, permitindo retomar o processo seletivo.
      operationId: reopenVacancy
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      responses:
        "200":
          description: Vaga reaberta
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/vacancy"
  /api/company/v1/vacancies/{id}/duplicate:
    patch:
      summary: Duplica uma vaga
      tags:
        - Vagas
      description: |
        Cria uma cópia da vaga.

        Útil para criar processos semelhantes sem precisar preencher todos os campos novamente.
      operationId: duplicateVacancy
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/ResourceId"
        - name: vacancy_type
          in: query
          required: false
          description: Tipo de vaga a criar (default ou template)
          schema:
            type: string
            enum:
              - default
              - template
      responses:
        "200":
          description: Vaga duplicada
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/vacancy"
  /api/company/v1/vacancies/{id}/timeline:
    get:
      summary: Timeline da vaga
      tags:
        - Vagas
      description: Retorna o histórico de ações e eventos da vaga.
      operationId: getVacancyTimeline
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      responses:
        "200":
          description: Timeline da vaga
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    action:
                      type: string
                    created_at:
                      type: string
                    responsible:
                      type: string
                    message:
                      type: string
  /api/company/v1/vacancies/{id}/questions:
    get:
      summary: Perguntas de triagem da vaga
      tags:
        - Vagas
      description: Retorna as perguntas de triagem configuradas para a vaga.
      operationId: getVacancyQuestions
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      responses:
        "200":
          description: Perguntas de triagem
  /api/company/v1/vacancies/{id}/approve:
    patch:
      summary: Aprova uma vaga
      tags:
        - Vagas
      description: |
        Aprova uma vaga que está aguardando aprovação.

        Apenas usuários com permissão de aprovador podem executar esta ação.
      operationId: approveVacancy
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                responsible_id:
                  type: integer
                  description: ID do responsável pela vaga
                analyst_ids:
                  type: array
                  items:
                    type: integer
                  description: IDs dos analistas
      responses:
        "200":
          description: Vaga aprovada
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/vacancy"
  /api/company/v1/vacancies/{id}/refuse:
    patch:
      summary: Recusa uma vaga
      tags:
        - Vagas
      description: |
        Recusa uma vaga que está aguardando aprovação.

        Apenas usuários com permissão de aprovador podem executar esta ação.
      operationId: refuseVacancy
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - refusal_reason
              properties:
                refusal_reason:
                  type: string
                  description: Motivo da recusa
                responsible_id:
                  type: integer
                  description: ID do responsável pela vaga
                analyst_ids:
                  type: array
                  items:
                    type: integer
                  description: IDs dos analistas
      responses:
        "200":
          description: Vaga recusada
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/vacancy"
  /api/company/v1/vacancies/{id}/release_unrelease:
    patch:
      summary: Libera/oculta vaga da divulgação
      tags:
        - Vagas
      description: Alterna se a vaga está liberada para divulgação nas páginas de carreira.
      operationId: releaseUnreleaseVacancy
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      responses:
        "200":
          description: Status de liberação alterado
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/vacancy"
  /api/company/v1/vacancies/{id}/pdf:
    get:
      summary: Gera PDF da vaga
      tags:
        - Vagas
      description: Gera e retorna um PDF com as informações da vaga.
      operationId: getVacancyPdf
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/ResourceId"
        - name: title
          in: query
          required: false
          schema:
            type: boolean
        - name: description
          in: query
          required: false
          schema:
            type: boolean
        - name: salary
          in: query
          required: false
          schema:
            type: boolean
        - name: benefits
          in: query
          required: false
          schema:
            type: boolean
        - name: location
          in: query
          required: false
          schema:
            type: boolean
        - name: qr_code
          in: query
          required: false
          schema:
            type: boolean
      responses:
        "200":
          description: PDF da vaga
          content:
            application/pdf:
              schema:
                type: string
                format: binary
  /api/company/v1/vacancies/{id}/qr_code:
    get:
      summary: Gera QR Code da vaga
      tags:
        - Vagas
      description: Gera um PDF com QR Code que direciona para a página de candidatura.
      operationId: getVacancyQrCode
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      responses:
        "200":
          description: PDF com QR Code
          content:
            application/pdf:
              schema:
                type: string
                format: binary
  /api/company/v1/vacancies/{id}/add_occurrence:
    post:
      summary: Adiciona ocorrência na vaga
      tags:
        - Vagas
      description: Adiciona um comentário/ocorrência no histórico da vaga.
      operationId: addVacancyOccurrence
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - vacancy
              properties:
                vacancy:
                  type: object
                  required:
                    - comment
                  properties:
                    comment:
                      type: string
                      description: Texto do comentário
      responses:
        "200":
          description: Ocorrência adicionada
  /api/company/v1/vacancies/{id}/save_team_and_company_users:
    post:
      summary: Salva time e analistas da vaga
      tags:
        - Vagas
      description: Atualiza o time e os analistas responsáveis pela vaga.
      operationId: saveVacancyTeamAndUsers
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - vacancy
              properties:
                vacancy:
                  type: object
                  properties:
                    team_id:
                      type: integer
                      description: ID do time
                    company_user_ids:
                      type: array
                      description: IDs dos usuários (analistas)
                      items:
                        type: integer
      responses:
        "200":
          description: Time e analistas atualizados
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/vacancy"
  /api/company/v1/vacancies/{id}/resend_form:
    post:
      summary: Reenvia formulário de triagem
      tags:
        - Vagas
      description: Reenvia o formulário de perguntas de triagem para candidatos específicos.
      operationId: resendVacancyForm
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - pipelines_stage_id
                - candidate_ids
              properties:
                pipelines_stage_id:
                  type: integer
                  description: ID da etapa do pipeline
                candidate_ids:
                  type: array
                  description: IDs dos candidatos para reenviar
                  items:
                    type: integer
      responses:
        "200":
          description: Formulário reenviado
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/vacancy"

  # ==================== VACANCY TAGS ====================
  /api/company/v1/vacancies/{id}/tags:
    get:
      summary: Lista tags da vaga
      tags:
        - Vagas
      description: |
        Retorna as tags (etiquetas) configuradas para a vaga.

        Tags são usadas para categorizar e filtrar vagas.
      operationId: listVacancyTags
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      responses:
        "200":
          description: Lista de tags
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/vacancyTag"
    post:
      summary: Cria tag na vaga
      tags:
        - Vagas
      description: Cria uma nova tag para a vaga.
      operationId: createVacancyTag
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/vacancyTagInput"
      responses:
        "201":
          description: Tag criada
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/vacancyTag"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
  /api/company/v1/vacancies/{id}/tags/{vacancy_tag_id}:
    get:
      summary: Retorna uma tag da vaga
      tags:
        - Vagas
      description: Retorna os detalhes de uma tag específica da vaga.
      operationId: getVacancyTag
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/ResourceId"
        - name: vacancy_tag_id
          in: path
          required: true
          description: ID da tag
          schema:
            type: integer
      responses:
        "200":
          description: Tag encontrada
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/vacancyTag"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      summary: Atualiza tag da vaga
      tags:
        - Vagas
      description: Atualiza uma tag existente da vaga.
      operationId: updateVacancyTag
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/ResourceId"
        - name: vacancy_tag_id
          in: path
          required: true
          description: ID da tag
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/vacancyTagInput"
      responses:
        "200":
          description: Tag atualizada
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/vacancyTag"
    delete:
      summary: Remove tag da vaga
      tags:
        - Vagas
      description: Remove uma tag da vaga.
      operationId: deleteVacancyTag
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/ResourceId"
        - name: vacancy_tag_id
          in: path
          required: true
          description: ID da tag
          schema:
            type: integer
      responses:
        "200":
          description: Tag removida

  # ==================== JU LOGS ====================
  /api/company/v1/vacancies/{id}/ju_logs:
    get:
      summary: Logs de integração JU
      tags:
        - Vagas
      description: |
        Retorna o histórico de integrações com a plataforma JU (Job Utter).

        Inclui logs de sincronização de vagas e candidaturas.
      operationId: listVacancyJuLogs
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/ResourceId"
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PerPage"
        - name: log_action
          in: query
          required: false
          description: Filtrar por tipo de ação
          schema:
            type: string
        - name: candidates_pipeline_id
          in: query
          required: false
          description: Filtrar por ID da candidatura
          schema:
            type: integer
        - name: order_by_created_at
          in: query
          required: false
          description: Ordenação por data de criação
          schema:
            type: string
            enum:
              - asc
              - desc
      responses:
        "200":
          description: Logs de integração
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/juApiLog"
                  meta:
                    $ref: "#/components/schemas/pagination"
  /api/company/v1/vacancies/{id}/ju_sync_vacancy:
    post:
      summary: Sincroniza vaga com a ju
      tags:
        - Vagas
      description: |
        Força a sincronização da vaga com a plataforma ju, assistente de recrutamento habilitada por IA.

        Atualiza os dados da vaga no sistema de hunting externo.
      operationId: syncVacancyWithJu
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      responses:
        "200":
          description: Sincronização iniciada
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Mensagem de confirmação
  /api/company/v1/vacancies/{id}/ju_sync_candidatures:
    post:
      summary: Sincroniza candidaturas com a ju
      tags:
        - Vagas
      description: |
        Força a sincronização das candidaturas da vaga com a plataforma ju, assistente de recrutamento habilitada por IA.

        Atualiza o matching e dados dos candidatos no sistema de hunting.
      operationId: syncCandidaturesWithJu
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      responses:
        "200":
          description: Sincronização iniciada
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Mensagem de confirmação
  # ==================== PROCESSOS SELETIVOS ====================
  /api/company/v1/selection_processes:
    get:
      summary: Lista processos seletivos
      tags:
        - Processos Seletivos
      description: |
        Retorna a lista de processos seletivos (pipelines de vagas) da empresa.

        O processo seletivo é identificado pelo **ID da vaga** (`vacancy_id`).
      operationId: listSelectionProcesses
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PerPage"
      responses:
        "200":
          description: Lista de processos seletivos
  /api/company/v1/selection_processes/{id}/stages:
    get:
      summary: Lista etapas do processo
      tags:
        - Processos Seletivos
      description: |
        Retorna as etapas (pipeline stages) do processo seletivo.

        **Etapas padrão**: Triagem, Testes, Entrevistas, Qualificação, Dinâmica, Finalistas, Contratação.
      operationId: listSelectionProcessStages
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      responses:
        "200":
          description: Lista de etapas
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/pipelinesStage"
  /api/company/v1/selection_processes/{id}/stages/{pipelines_stage_id}/candidates:
    get:
      summary: Lista candidatos de uma etapa
      tags:
        - Processos Seletivos
      description: |
        Retorna candidatos que estão em uma etapa específica do processo seletivo.
      operationId: listCandidatesFromStage
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/ResourceId"
        - name: pipelines_stage_id
          in: path
          required: true
          description: ID da etapa do pipeline
          schema:
            type: integer
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PerPage"
        - $ref: "#/components/parameters/Include"
      responses:
        "200":
          description: Lista de candidatos na etapa
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/candidate"
                  meta:
                    $ref: "#/components/schemas/pagination"
  /api/company/v1/selection_processes/{id}/candidates:
    get:
      summary: Lista candidatos do processo
      tags:
        - Processos Seletivos
      description: |
        Retorna candidatos participando do processo seletivo.

        Use o parâmetro "include" para carregar relacionamentos.

        **Filtros avançados disponíveis** para busca de candidatos.
      operationId: listSelectionProcessCandidates
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/ResourceId"
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PerPage"
        - $ref: "#/components/parameters/Include"
        - name: q
          in: query
          required: false
          description: Termo de busca geral
          schema:
            type: string
        - name: name
          in: query
          required: false
          description: Filtrar por nome do candidato
          schema:
            type: string
        - name: email
          in: query
          required: false
          description: Filtrar por email
          schema:
            type: string
        - name: cpf
          in: query
          required: false
          description: Filtrar por CPF
          schema:
            type: string
        - name: pipelines_stage_id
          in: query
          required: false
          description: Filtrar por etapa do processo
          schema:
            type: integer
        - name: pipelines_stage_ids[]
          in: query
          required: false
          description: Filtrar por múltiplas etapas
          schema:
            type: array
            items:
              type: integer
        - name: tag_ids[]
          in: query
          required: false
          description: Filtrar por etiquetas
          schema:
            type: array
            items:
              type: integer
        - name: favorites
          in: query
          required: false
          description: Apenas favoritos
          schema:
            type: boolean
        - name: blocklists
          in: query
          required: false
          description: Incluir bloqueados
          schema:
            type: boolean
        - name: seen
          in: query
          required: false
          description: Filtrar por visualizados/não visualizados
          schema:
            type: boolean
        - name: only_screening
          in: query
          required: false
          description: Apenas candidatos em triagem
          schema:
            type: boolean
        - name: only_hiring
          in: query
          required: false
          description: Apenas candidatos para contratação
          schema:
            type: boolean
        - name: deleted
          in: query
          required: false
          description: Incluir desqualificados
          schema:
            type: boolean
        - name: applied_at_from
          in: query
          required: false
          description: Data de candidatura inicial
          schema:
            type: string
            format: date
        - name: applied_at_to
          in: query
          required: false
          description: Data de candidatura final
          schema:
            type: string
            format: date
        - name: sort_by
          in: query
          required: false
          description: Ordenação dos resultados
          schema:
            type: string
            enum:
              - candidatures_desc
              - candidatures_asc
              - name_asc
              - name_desc
              - matching_desc
      responses:
        "200":
          description: Lista de candidatos no processo
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/candidate"
                  meta:
                    $ref: "#/components/schemas/selectionProcessMeta"
  /api/company/v1/selection_processes/{id}/candidates/{candidate_id}:
    get:
      summary: Retorna um candidato do processo
      tags:
        - Processos Seletivos
      description: Retorna os detalhes de um candidato específico no contexto do processo seletivo.
      operationId: getSelectionProcessCandidate
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/ResourceId"
        - name: candidate_id
          in: path
          required: true
          description: ID do candidato
          schema:
            type: integer
        - $ref: "#/components/parameters/Include"
        - name: only_talent
          in: query
          required: false
          description: Buscar candidato mesmo que não esteja no processo
          schema:
            type: boolean
      responses:
        "200":
          description: Candidato encontrado
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/candidate"
                  included:
                    type: array
                    description: Recursos relacionados incluídos conforme parâmetro include
                    items:
                      type: object
  /api/company/v1/selection_processes/{id}/candidates_pipeline:
    get:
      summary: Lista candidaturas do pipeline
      tags:
        - Processos Seletivos
      description: |
        Retorna as candidaturas (candidates_pipeline) do processo seletivo.

        Diferente de `/candidates`, este endpoint retorna objetos de candidatura
        com informações específicas do processo (etapa, status, datas).

        Use o parâmetro "include" para carregar relacionamentos.
      operationId: listCandidatesPipeline
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/ResourceId"
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PerPage"
        - $ref: "#/components/parameters/CandidatesPipelineInclude"
        - name: pipelines_stage_id
          in: query
          required: false
          description: Filtrar por etapa
          schema:
            type: integer
        - name: q[hired_at_not_null]
          in: query
          required: false
          description: Quando igual a 1, retorna somente candidaturas com hired_at preenchido
          schema:
            type: integer
            enum: [1]
      responses:
        "200":
          description: Lista de candidaturas
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/candidatesPipeline"
                  meta:
                    $ref: "#/components/schemas/selectionProcessMeta"
  /api/company/v1/selection_processes/{id}/matching:
    get:
      summary: Matching de talentos
      tags:
        - Processos Seletivos
      description: |
        Retorna candidatos do banco de talentos ordenados por matching com a vaga.

        O matching considera:
        - Localização
        - Experiência profissional
        - Formação acadêmica
        - Habilidades técnicas
        - Pretensão salarial

        Use para encontrar candidatos compatíveis no banco de talentos da empresa.
      operationId: getSelectionProcessMatching
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/ResourceId"
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PerPage"
        - name: q
          in: query
          required: false
          description: Termo de busca
          schema:
            type: string
        - name: city_ids[]
          in: query
          required: false
          description: IDs das cidades
          schema:
            type: array
            items:
              type: integer
        - name: state_ids[]
          in: query
          required: false
          description: IDs dos estados
          schema:
            type: array
            items:
              type: integer
        - name: area_of_interest_ids[]
          in: query
          required: false
          description: IDs das áreas de interesse
          schema:
            type: array
            items:
              type: integer
        - name: level_of_interest_ids[]
          in: query
          required: false
          description: IDs dos níveis/cargos
          schema:
            type: array
            items:
              type: integer
        - name: tech_skills[]
          in: query
          required: false
          description: Habilidades técnicas
          schema:
            type: array
            items:
              type: string
        - name: min_salary
          in: query
          required: false
          description: Pretensão salarial mínima
          schema:
            type: number
        - name: max_salary
          in: query
          required: false
          description: Pretensão salarial máxima
          schema:
            type: number
        - name: completed
          in: query
          required: false
          description: Apenas perfis completos
          schema:
            type: boolean
        - name: favorites
          in: query
          required: false
          description: Apenas favoritos
          schema:
            type: boolean
      responses:
        "200":
          description: Lista de candidatos com matching
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/candidate"
  /api/company/v1/selection_processes/{id}/invite:
    post:
      summary: Convida candidatos para o processo
      tags:
        - Processos Seletivos
      description: |
        Convida candidatos do banco de talentos para participar do processo seletivo.

        Os candidatos receberão um email de convite e serão adicionados à primeira etapa do processo.
      operationId: inviteCandidatesToProcess
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - candidate_ids
              properties:
                candidate_ids:
                  type: array
                  items:
                    type: integer
                  description: IDs dos candidatos a convidar
                  example: [123, 456, 789]
            examples:
              invite_multiple:
                summary: Convidar múltiplos candidatos
                value:
                  candidate_ids: [123, 456, 789]
      responses:
        "200":
          description: Candidatos convidados com sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/candidatesPipeline"
  /api/company/v1/selection_processes/{id}/disqualify:
    post:
      summary: Desqualifica candidatos
      tags:
        - Processos Seletivos
      description: |
        Remove candidatos do processo seletivo marcando-os como desqualificados.

        Opcionalmente pode-se especificar uma etiqueta de motivo.
      operationId: disqualifyCandidates
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - candidate_ids
              properties:
                candidate_ids:
                  type: array
                  items:
                    type: integer
                  description: IDs dos candidatos a desqualificar
                tag_id:
                  type: integer
                  description: ID da etiqueta de motivo de desqualificação
            examples:
              disqualify_with_reason:
                summary: Desqualificar com motivo
                value:
                  candidate_ids: [123, 456]
                  tag_id: 15
      responses:
        "200":
          description: Candidatos desqualificados
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/candidatesPipeline"
  /api/company/v1/selection_processes/{id}/move_to_another_process:
    post:
      summary: Move candidatos para outro processo seletivo
      tags:
        - Processos Seletivos
      description: |
        Inicia um procedimento assíncrono para mover candidatos para outro processo seletivo.

        O fluxo realiza convite para a vaga vinculada ao `pipeline_id` informado, move os candidatos
        para a etapa definida em `pipelines_stage_id` e, opcionalmente, desqualifica os candidatos no
        processo atual quando `disqualify_from_current_process` for `true`.
      operationId: moveCandidatesToAnotherProcess
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - candidate_ids
                - pipeline_id
                - pipelines_stage_id
              properties:
                candidate_ids:
                  type: array
                  minItems: 1
                  description: IDs dos candidatos que serão movidos para o outro processo
                  items:
                    oneOf:
                      - type: integer
                      - type: string
                pipeline_id:
                  oneOf:
                    - type: integer
                    - type: string
                  description: ID do pipeline de destino (vinculado ao processo seletivo de destino)
                pipelines_stage_id:
                  oneOf:
                    - type: integer
                    - type: string
                  description: ID da etapa de destino dentro do pipeline informado
                disqualify_from_current_process:
                  type: boolean
                  default: false
                  description: Se `true`, desqualifica os candidatos do processo seletivo atual após a movimentação
            examples:
              move_candidates_between_processes:
                summary: Mover candidatos sem desqualificar no processo atual
                value:
                  candidate_ids:
                    - "10375203"
                    - "10280357"
                  pipeline_id: 360828
                  pipelines_stage_id: "2398884"
                  disqualify_from_current_process: false
      responses:
        "200":
          description: Procedimento assíncrono criado com sucesso
          content:
            application/json:
              schema:
                type: object
                required:
                  - token
                  - status
                properties:
                  token:
                    type: string
                    description: Token do procedimento assíncrono para rastreamento
                  status:
                    type: string
                    description: Status inicial do procedimento assíncrono
                    example: in_progress
              examples:
                async_procedure_started:
                  summary: Resposta de sucesso ao iniciar movimentação assíncrona
                  value:
                    token: "procedure-token"
                    status: "in_progress"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
  /api/company/v1/selection_processes/{id}/reevaluate:
    post:
      summary: Reavalia candidatos desqualificados
      tags:
        - Processos Seletivos
      description: |
        Reativa candidatos que foram desqualificados anteriormente.

        Os candidatos voltam a participar do processo seletivo na primeira etapa.
      operationId: reevaluateCandidates
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - candidate_ids
              properties:
                candidate_ids:
                  type: array
                  items:
                    type: integer
                  description: IDs dos candidatos a reavaliar
            examples:
              reevaluate:
                summary: Reavaliar candidatos
                value:
                  candidate_ids: [123, 456]
      responses:
        "200":
          description: Candidatos reavaliados
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/candidatesPipeline"
  /api/company/v1/selection_processes/{id}/hire:
    post:
      summary: Contrata candidatos
      tags:
        - Processos Seletivos
      description: |
        Marca candidatos como contratados no processo seletivo.

        Os candidatos são movidos para a etapa de contratação e podem ter dados de admissão preenchidos.
      operationId: hireCandidates
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - candidate_ids
              properties:
                candidate_ids:
[...]
